<div class="w-full overflow-x-auto rounded-xl border border-gray-200">
  <table class="w-full text-sm text-left">
    <thead class="bg-[#FFF0E5] text-[#44403B]">
      <tr>
        <th class="px-6 py-4 font-medium">Product</th>
        <th class="px-6 py-4 font-medium">SKU</th>
        <th class="px-6 py-4 font-medium">Category</th>
        <th class="px-6 py-4 font-medium">Price</th>
        <th class="px-6 py-4 font-medium">Date added</th>
        <th class="px-6 py-4 font-medium">Stock</th>
        <th class="px-6 py-4"></th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200 bg-white">
      @for (item of inventoryData(); track item.sku) {
        <tr class="hover:bg-gray-50 transition">
          <td class="px-6 py-2 flex items-center gap-3">
            <div class="w-10 h-10 rounded bg-gray-200">
              <img
                [src]="item.imageUrl"
                alt="{{ item.productName }}"
                class="w-full h-full object-contain"
              />
            </div>
            <span class="font-medium text-gray-800 text-xs">
              {{ item.productName }}
            </span>
          </td>

          <td class="px-6 py-2 text-gray-500 text-xs">
            {{ item.sku }}
          </td>

          <td class="px-6 py-2 text-gray-500 text-xs">
            {{ item.productCategory | titlecase }}
          </td>

          <td class="px-6 py-2 font-medium text-gray-800 text-xs">
            ₦{{ item.sellingPrice | number }}
          </td>

          <td class="px-6 py-2 text-gray-500 text-xs">
            {{ item.createdAt?.toDate() | date: 'mediumDate' }}
          </td>

          <td class="px-6 py-2">
            <div class="w-[70%]">
              <app-stock-badge [quantity]="item.quantity"></app-stock-badge>
            </div>
          </td>

          <td class="px-6 py-2 text-right">
            <button
              (click)="nagivateToEdit(item)"
              class="text-gray-500 hover:text-gray-700 cursor-pointer"
            >
              •••
            </button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="7" class="px-6 py-10 text-center">
            <div class="flex flex-col items-center justify-center gap-2 text-gray-400">
              <span class="text-sm font-medium">No inventory found</span>
              <span class="text-xs">Try adjusting your search or filters</span>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
