<div class="bg-white rounded-xl p-3 min-w-[300px]">
  <div class="w-full bg-[#EFEBE4] rounded-lg h-60">
    <!-- <img src="" alt="" class="w-full h-full object-contain" /> -->
  </div>
  <div class="mt-4">
    <div class="flex items-center justify-between gap-2">
      <h2 class="text-[#57534D] text-sm font-medium">Iphone 15Pr Max</h2>
      <span class="text-[#44403B] text-sm font-medium"> ₦1,200,000 </span>
    </div>
    <span class="text-[#79716B] text-xs">500 sold</span>
    <div class="flex items-center justify-between gap-3 mt-3">
      <div class="w-[70%]">
        <app-stock-badge [quantity]="5"></app-stock-badge>
      </div>
    </div>
  </div>
</div>
