<dialog open class="fixed inset-0 m-auto border-none outline-none p-0 bg-transparent z-30">
  <div class="bg-white rounded-xl p-6 w-100 2xl:w-120">
    <div class="flex items-start justify-between mb-3">
      <div>
        <h2 class="text-[#292524] font-medium">Add new product</h2>
      </div>
      <button (click)="handleCloseForm()" class="cursor-pointer focus:outline-none">
        <app-close-icon> </app-close-icon>
      </button>
    </div>

    <form (ngSubmit)="handleFormSubmission()" class="flex flex-col gap-5">
      <!-- Product Name -->
      <div class="flex flex-col gap-1">
        <label for="name" class="text-sm font-medium text-[#292524]"> Product name </label>
        <input
          [(ngModel)]="productName"
          type="text"
          name="name"
          class="add-prd-input"
          placeholder="iPhone 15 Pro"
          required
        />
      </div>
      <div class="flex flex-col gap-1">
        <label for="name" class="text-sm font-medium text-[#292524]"> Brand name </label>
        <input
          [(ngModel)]="brandName"
          type="text"
          name="name"
          class="add-prd-input"
          placeholder="Apple"
          required
        />
      </div>

      <div class="grid grid-cols-2 gap-4">
        <!-- SKU -->
        <div class="flex flex-col gap-1">
          <label for="sku" class="text-sm font-medium text-[#292524]"> SKU </label>
          <input
            [(ngModel)]="sku"
            type="text"
            name="sku"
            class="add-prd-input"
            placeholder="IP15-PRO-256"
            required
          />
        </div>
        <!-- Category -->
        <div class="flex flex-col gap-1">
          <label for="unit" class="text-sm font-medium text-[#292524]"> Category </label>
          <select [(ngModel)]="category" name="category" required class="add-prd-input">
            <option [ngValue]="null" disabled>Select category</option>

            @for (cat of productCategory; track cat.value) {
              <option [ngValue]="cat.value">{{ cat.label }}</option>
            }
          </select>
        </div>
      </div>

      <!-- Description -->
      <div class="flex flex-col gap-1">
        <label for="description" class="text-sm font-medium text-[#292524]"> Description </label>
        <textarea
          [(ngModel)]="description"
          name="description"
          rows="3"
          class="add-prd-input"
          placeholder="Iphone 15promax 128gb"
          required
        ></textarea>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div class="flex flex-col gap-1">
          <label for="unit" class="text-sm font-medium text-[#292524]"> Unit </label>
          <select [(ngModel)]="unit" name="unit" class="add-prd-input" required>
            <option value="" disabled selected>Select unit</option>
            <option value="pcs">Pieces</option>
            <option value="kg">Kilograms</option>
            <option value="ltr">Litres</option>
          </select>
        </div>

        <!-- Status -->
        <div class="flex flex-col gap-1">
          <label for="status" class="text-sm font-medium text-[#292524]"> Status </label>
          <select [(ngModel)]="status" name="status" class="add-prd-input">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
        </div>
      </div>
      <!-- Unit -->

      <!-- Product Image -->
      <div class="flex flex-col gap-1">
        <label for="image" class="text-sm font-medium text-[#292524]"> Product image </label>
        <input
          required
          type="file"
          accept="image/*"
          (change)="onImageSelected($event)"
          class="add-prd-input"
        />
      </div>

      <!-- Error -->
      @if (error()) {
        <p class="text-sm text-center text-red-500 italic">
          {{ errorText() }}
        </p>
      }

      <!-- Actions -->
      <div class="flex flex-col gap-4 mt-6">
        <button
          [disabled]="isLoading()"
          type="submit"
          class="flex items-center justify-center gap-2 bg-[#2793E9] py-2.5 rounded-md transition hover:bg-[#2793E9]/70 mt-10 disabled:opacity-60 cursor-pointer"
        >
          @if (isLoading() && !isSuccess()) {
            <span
              class="h-3 w-3 animate-spin rounded-full border-2 border-white border-t-transparent"
            ></span>
          }

          <span class="text-white text-xs font-medium">
            {{ buttonText }}
          </span>
        </button>
        <button
          [disabled]="isLoading()"
          type="button"
          (click)="handleCloseForm()"
          class="w-full bg-inherit py-2.5 rounded text-[#57534D] text-xs font-medium cursor-pointer border border-[#E7E5E4]"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</dialog>
<div class="backdrop"></div>
