<dialog open class="fixed inset-0 m-auto border-none outline-none p-0 bg-transparent z-30">
  <div class="bg-white rounded-xl p-6 w-100 2xl:w-120">
    <div class="flex items-start justify-between mb-3">
      <div>
        <h2 class="text-[#292524] font-medium">Add new product</h2>
      </div>
      <button (click)="handleCloseForm()" class="cursor-pointer focus:outline-none">
        <app-close-icon> </app-close-icon>
      </button>
    </div>

    <form (ngSubmit)="handleFormSubmission()" class="flex flex-col gap-5">
      <!-- Product Name -->
      <div class="flex flex-col gap-1">
        <label for="name" class="text-sm font-medium text-[#292524]"> Product name </label>
        <input
          [(ngModel)]="productName"
          type="text"
          name="name"
          class="p-2 border border-[#E7E5E4] rounded text-xs focus:outline-none text-[#292524]"
          placeholder="iPhone 15 Pro"
          required
        />
      </div>

      <!-- SKU -->
      <div class="flex flex-col gap-1">
        <label for="sku" class="text-sm font-medium text-[#292524]"> SKU </label>
        <input
          [(ngModel)]="sku"
          type="text"
          name="sku"
          class="p-2 border border-[#E7E5E4] rounded text-xs focus:outline-none text-[#292524]"
          placeholder="IP15-PRO-256"
          required
        />
      </div>

      <!-- Description -->
      <div class="flex flex-col gap-1">
        <label for="description" class="text-sm font-medium text-[#292524]"> Description </label>
        <textarea
          [(ngModel)]="description"
          name="description"
          rows="3"
          class="p-2 border border-[#E7E5E4] rounded text-xs focus:outline-none text-[#292524]"
          placeholder="Iphone 15promax 128gb"
        ></textarea>
      </div>

      <!-- Unit -->
      <div class="flex flex-col gap-1">
        <label for="unit" class="text-sm font-medium text-[#292524]"> Unit </label>
        <select
          [(ngModel)]="unit"
          name="unit"
          class="p-2 border border-[#E7E5E4] rounded text-xs focus:outline-none text-[#292524]"
          required
        >
          <option value="" disabled selected>Select unit</option>
          <option value="pcs">Pieces</option>
          <option value="kg">Kilograms</option>
          <option value="ltr">Litres</option>
        </select>
      </div>

      <!-- Status -->
      <div class="flex flex-col gap-1">
        <label for="status" class="text-sm font-medium text-[#292524]"> Status </label>
        <select
          [(ngModel)]="status"
          name="status"
          class="p-2 border border-[#E7E5E4] rounded text-xs focus:outline-none text-[#292524]"
        >
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>

      <!-- Product Image -->
      <div class="flex flex-col gap-1">
        <label for="image" class="text-sm font-medium text-[#292524]"> Product image </label>
        <input
          type="file"
          accept="image/*"
          (change)="onImageSelected($event)"
          class="p-2 border border-[#E7E5E4] rounded text-xs focus:outline-none text-[#292524]"
        />
      </div>

      <!-- Error -->
      @if (error()) {
        <p class="text-sm text-center text-red-500 italic">
          {{ errorText() }}
        </p>
      }

      <!-- Actions -->
      <div class="flex flex-col gap-4 mt-6">
        <button
          type="submit"
          class="w-full bg-[#2793E9] py-2.5 rounded text-white text-sm font-medium cursor-pointer"
        >
          Save Product
        </button>
        <button
          type="button"
          (click)="handleCloseForm()"
          class="w-full bg-inherit py-2.5 rounded text-[#57534D] text-sm font-medium cursor-pointer border border-[#E7E5E4]"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</dialog>
<div class="backdrop"></div>
