<div
  [ngClass]="{
    'bg-[#F0FDF4] border-[#B9F8CF]': stockStatus() === 'in',
    'bg-[#FFF7ED] border-[#FFD6A8]': stockStatus() === 'low',
    'bg-[#FEF3F2] border-[#FFC9C9]': stockStatus() === 'out',
  }"
  class="py-1.5 px-3 rounded-md border flex items-center justify-between shrink-0"
>
  <span
    [ngClass]="{
      'text-[#008236]': stockStatus() === 'in',
      'text-[#CA3500]': stockStatus() === 'low',
      'text-[#B42318]': stockStatus() === 'out',
    }"
    class="text-sm font-medium"
    >{{ stockLabel() }}</span
  >
  <div
    class="flex items-center justify-center px-4 py-1 text-sm rounded-md border border-[#E7E5E4] bg-white"
  >
    {{ quantity() }}
  </div>
</div>
