<dialog open class="fixed inset-0 m-auto border-none outline-none p-0 bg-transparent z-50">
  <div class="bg-white rounded-xl p-6 w-100 2xl:w-150">
    <div class="flex items-start justify-between mb-3">
      <div>
        <h2 class="text-[#292524] font-medium">Send counter offer</h2>
        <span class="text-[#57534D] font-light leading-6 text-sm"
          >Propose an alternative price for this order request.</span
        >
      </div>
      <button class="cursor-pointer focus:outline-none">
        <app-close-icon />
      </button>
    </div>
    <h2 class="text-[#292524] font-medium">Order details</h2>
    <div class="bg-[#FAFAF9] border border-[#F0F1F3] rounded-xl px-3 py-5 my-4">
      <div class="space-y-2">
        <div class="flex items-center justify-between text-[#57534D]">
          <p class="text-xs">Product:</p>
          <span class="font-medium text-sm">{{ orderObject()?.productName }}</span>
        </div>
        <div class="flex items-center justify-between text-[#57534D]">
          <p class="text-xs">SKU:</p>
          <span class="font-medium text-sm">{{ orderObject()?.sku }}</span>
        </div>
        <div class="flex items-center justify-between text-[#57534D]">
          <p class="text-xs">Quantity:</p>
          <span class="font-medium text-sm">{{ orderObject()?.quantity }}</span>
        </div>
      </div>
      <div class="mt-3 pt-3 space-y-2 border-t-2 border-[#F0F1F3]">
        <div class="flex items-center justify-between text-[#57534D]">
          <p class="text-xs">Listed price:</p>
          <span class="font-medium text-[#79716B] text-sm">{{
            orderObject()?.price | currency: '₦' : 'symbol' : '1.2-2'
          }}</span>
        </div>
        <div class="flex items-center justify-between text-[#57534D]">
          <p class="text-xs">Offer price:</p>
          <span class="font-medium text-[#C10007] text-sm">{{
            orderObject()?.offerPrice | currency: '₦' : 'symbol' : '1.2-2'
          }}</span>
        </div>
      </div>
    </div>
    <form (ngSubmit)="sendCounterOffer()" class="flex flex-col gap-4">
      <div class="flex flex-col gap-1">
        <label for="" class="text-sm font-medium text-[#292524]">Your counter offer (₦)</label>
        <input
          [(ngModel)]="counterOfferPrice"
          type="number"
          class="p-2 border border-[#E7E5E4] rounded text-xs focus:outline-none text-[#A6A09B]"
          placeholder="Enter your counter price"
        />
      </div>
      <div class="flex flex-col gap-1">
        <label for="" class="text-sm font-medium text-[#292524]">Message (Optional)</label>
        <textarea
          [(ngModel)]="optionalMessage"
          name=""
          id=""
          class="p-2 border border-[#E7E5E4] rounded text-xs focus:outline-none text-[#A6A09B]"
          placeholder="Enter your counter price"
        ></textarea>
      </div>
      <div class="flex items-center justify-end gap-6">
        <button
          type="button"
          class="w-full max-w-30 bg-inherit py-2.5 rounded text-[#57534D] font-medium cursor-pointer border border-[#E7E5E4]"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="w-full max-w-30 bg-[#2793E9] py-2.5 rounded text-white font-medium cursor-pointer"
        >
          Send
        </button>
      </div>
    </form>
  </div>
</dialog>
<div class="backdrop"></div>
