@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

.tab-btn {
  @apply py-2 border border-[#E5E7EB] rounded-md text-center text-xs font-medium cursor-pointer;
}
.add-prd-input {
  @apply p-2 border border-[#E7E5E4] rounded text-xs focus:outline-none text-[#292524];
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

nav a.active {
  background: #fff7f1;
  border-right: 4px solid #f4c58a;
}
nav a.active span {
  color: #a0610e;
}

nav a.active svg path {
  fill: #a0610e;
}

button.isActive {
  background-color: #2792e9a0;
  color: #fff;
}

#settings a.active {
  color: #a0610e;
  border-bottom: 2px solid #a0610e;
}

label:has(+ input:required)::after,
label:has(+ select:required)::after,
label:has(+ textarea:required)::after {
  content: ' *';
  color: red;
  font-weight: bold;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
}

#inventory_stock_status.inStock {
  background: #f0fdf4;
  border-color: #b9f8cf;
}

#inventory_stock_status.inStock span {
  color: #008236;
}
