<div class="border border-[#F0F1F3] rounded-xl p-4 bg-[#FAFAF9] flex items-center justify-between">
  <div class="flex items-center gap-4">
    <div class="h-20 w-20 bg-[#EFEBE4] rounded-sm"></div>
    <div class="flex justify-between items-start">
      <div class="space-y-1">
        <p class="text-[#292524] font-medium text-sm">
          iPhone 15 Pro Max
          <span class="inline-block bg-[#DCF6FD] text-[10px] text-[#1E6381] px-1">#INQ-005</span>
        </p>
        <span class="inline-block text-xs text-[#292524]">SKU: IPH15PM-256-NT</span>
        <div class="flex items-center gap-4">
          <div class="flex items-center gap-2">
            <span class="text-[#79716B] font-light leading-6 text-sm">Listed: ₦850,000</span>
          </div>
          <div class="flex items-center gap-2">
            <svg
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1 5.66667H10.3333M10.3333 5.66667L5.66667 1M10.3333 5.66667L5.66667 10.3333"
                stroke="#A6A09B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            <span class="font-light leading-6 text-sm text-red-500">Inquiry: ₦800,000</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="text-[#A0610E] text-sm font-medium border-none focus:outline-none cursor-pointer">
    View
  </button>
</div>
